# ==============================================================================
# GLOBAL ENVIRONMENT EXAMPLE CONFIGURATION: Scalable E-Commerce Platform
# ==============================================================================

JWT_SECRET=8d/vpFSCAFqeRdZD7W2ZbBUbvs9r3FajrfXlCDp4cTk=

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
USER_SERVICE_PORT=8080

MONGO_USERNAME=mongoadmin
MONGO_PASSWORD=j4zFYbA5k7Nv%2Fxt50AEgu3nlsDZIEB2GeP%2Fut7jLRe8%3D
MONGO_DB=catalogdb
CATALOG_REDIS_PASSWORD=supersecret_redis_password_2026
CATALOG_SERVICE_PORT=8000

CART_REDIS_PASSWORD=supersecret_redis_password_2026
CART_SERVICE_PORT=8002
