PORT=8081
DB_HOST=localhost
DB_PORT=5433
DB_NAME=orderdb
DB_USERNAME=orderadmin
DB_PASSWORD=orderpass
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
JWT_SECRET=8d/vpFSCAFqeRdZD7W2ZbBUbvs9r3FajrfXlCDp4cTk=
CART_SERVICE_URL=http://localhost:8002
CATALOG_SERVICE_URL=http://localhost:8000
